<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tam.joblinks">

    <!-- To auto-complete the email text field in the loginAsync form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".applications.JobApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_home_white_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.RegisterAccountActivity"
            android:label="@string/title_activity_register_account" />
        <activity
            android:name=".activities.SearchJobActivity"
            android:label="@string/title_activity_search_job" />
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ForgotPasswordActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".activities.PublishJobActivity"
            android:label="@string/title_activity_publish_job"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.JobStatusActivity"
            android:parentActivityName=".activities.MainActivity">

        </activity>
        <activity
            android:name=".activities.JobDetailsActivity"
            android:label="@string/title_activity_job_details"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>